<% if user_signed_in? %>
    <div class= "menu-reserva-header">
        <h1>  Mis Reservas registradas en la fecha </h1>
    </div>
    <section class="content">
    <div class="menu-reserva-body">
        <div class="">
            <div class="row-fluid">
                <%if @reservaRestF.nil?%>
                    <h1> <%@epa%> </h1>
                <%else%>
                    <table id="example2" class="table table-bordered table-hover">
                        <thead class="card-title" style="background-color: darkgrey;">
                            <tr>
                                <th>Fecha de Reserva</th>
                                <th>Hora de Reserva</th>
                                <th>Nombre</th>
                                <th>Cedula</th>
                                <th>Genero</th>
                                <th>Edad</th>
                                <th>Promocion</th>
                                <th>Yumis</th>
                                <th>Cantidad de personas en la reserva</th>
                                <th>Estado de la reserva</th>
                            </tr>
                        </thead>
                        <% @reservaRestF.each do |reserva| %>
                            <div class="card-body">
                                <tbody style="background-color: white;">
                                    <td><p class="mb-1"> <%= reserva.reservation_date.strftime("%d-%m-%Y") %></td>
                                    <td><%=  reserva.reservation_date.to_s(:time) %> </p></td>
                                    <td><%=reserva.comensal_name%> <%=reserva.comensal_apellido%></td>
                                    <td><%=reserva.identificacion%></td>
                                    <td><%=reserva.comensal_genero%></td>
                                    <td><%=reserva.comensal_nac%> años </h4></td>
                                    <td><%=reserva.desc%></td>
                                    <td><%=reserva.yum%></td>
                                    <td><p class="card-text"><%= reserva.people_num %> persona(s) </p></td>
                                    <td><%=reserva.status%></td>
                                </tbody>    
                            </div>
                        <%end%>
                    </table>
                <%end%>
            </div>
        </div>
        <button type="submit" style="background-color: #b4b2b2; color:black; border-color: #b4b2b2" class="btn btn-info btn-flat float-left" onClick="history.back()">Volver</button>
    </div>
    </section>
<%end%>