<h1>Hola</h1>

  <p>Has sido invitado al restaurant: <h2> <%= @reservation.nombre %> </h2> para unirte a la reserva de: <h3> <%= @reservation.comensal%> </h3> </p>
  </br>
  <p>Datos de la reserva realizada por:<%= @reservation.comensal%></p>
  <p>Direccion:<%= @reservation.direccion%></p>
  <p>Fecha de la reserva: <%= @reservation.fecha %></p>
  <p>Hora de la reserva: <%= @reservation.hora %></p>
  <p>Cantidad de personas: <%= @reservation.personas %></p>
  <p>Promoción a disfrutar: <%= @reservation.promocion %></p>
  