
  Hola, de parte de <%= @diner.name %>

  Recibiste una invitación de tu amigo para disfrutar de la promoción de <%= @comment.reservation.restaurant.name %> que ha estado buenisima.
  <%= @comment.reservation.restaurant.name %> es <%= @comment.reservation.restaurant.description %> y actualmente tiene una promocion llamada
  <%= @promo.name %> que es del tipo <%= @promo.promo_type %> y es: <%= @promo.description %>
  Tu amigo dejo esta reseña!
  "<%= @comment.description %>" y la califico con <%= @promedio %>

  Puedes saber más de esta promo y sus cambios haciendo click en el siguiente link:

  <%= link_to '¡Aprovecha! click aqui y podras ver los detalles del restaurante!!', @url %>
  <%= link_to '¡Reservar de una vez!', @url %>