<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <p>Buenas comensal <%= @diner.user_name %>!</p>
        <p> Una reserva no efectuada más y serás bloqueado de la aplicación </p>
        
</body>
</html>