<section class="content-header">
      <h1>
        Administrar platos
      </h1>
</section>

<section class="content">
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Platos</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Nombre del plato</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Menu para el plato</th>
          </tr>
          </thead>
          <tbody>
            <% @plates.each do |plate| %>
              <tr>
                <td><%= plate.name %></td>
                <td><%= plate.description %></td>
                <td><%= plate.price %></td>
                <td><%= plate.menu_type.name %></td>
                <td><%= link_to 'Editar', edit_restaurante_plate_path(plate), :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Eliminar', [:restaurante, plate], method: :delete, data: { confirm: '¿Estás seguro que deseas eliminarlo?' }, :class => 'btn btn-danger' %></td>
              </tr>
              <% end %>
          </tbody>
        </table>
        <%= link_to 'Nuevo plato', new_restaurante_plate_path, :class => 'btn btn-success' %>
        <%= link_to 'Atras', restaurante_menu_types_path, :class => 'btn btn-primary' %>
        <%= will_paginate @plates, class: "digg_pagination pagination digg_pagination2", style:'float:right;position:relative;left:-50%;color:#3c8dbc',previous_label: "<", next_label:">"%>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
