 Hola <%= @diner.name %>!
 Hemos tenido que cancelar la reserva en nuestro restaurant <%= @reservation.restaurant.name %>
 debido a <%= @mensaje %>, por ello te bonificaremos con
 100 yumis

    Fecha de reserva cancelada:
    --------------------------
     <%= @reservation.reservation_date.strftime("%d-%m-%Y %H:%M") %>