<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hola <%= @diner.name %>!</p>
    <p> Hemos tenido que cancelar la reserva en nuestro restaurant <%= @reservation.restaurant.name %>
    debido a <%=@mensaje%>, por ello te bonificaremos con
    100 yumis</p>

    Fecha de reserva cancelada:<br>
    --------------------------
     <%= @reservation.reservation_date.strftime("%d-%m-%Y %H:%M") %>

  </body>
</html>