Hola, <%= @diner.name %>!
===============================================

La siguente reserva ha sido cancelada con exito:

Nombre del restarante: <%= @reserva.restaurant.name %>
Fecha de la reserva: <%= @reserva.reservation_date %>
Numero de personas: <%= @reserva.people_num %>
Promoci&oacute: <%= @reserva.promo.description %>
