<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Reserva realizada!</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc; border-collapse: collapse;">
					<tr>
						<td align="center" bgcolor="#FFFAFA" style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
	               <b>Bienvenido a La Promo</b>
              <img src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Creating Email Magic" width="400" height="230" style="display: block;">
						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #FF0000; font-family: Arial, sans-serif; font-size: 24px;">
										<b>Felicidades ha ganado 10 yumies</b>
									</td>
								</tr>
								<tr>
									<td style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
									           <h3>Gracias por invitar a tus amigos a
                               la promo te obsequiamos este monto para seguir comiendo juntos</h3>
                               <h2>Buen provecho</h2>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#" style="padding: 30px 30px 30px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
										&reg; Se entiende por Promoción un derecho a un descuento (hasta el importe indicado para cada promoción) en el precio de un pedido que cumpla los requisitos publicados para cada promoción. Dicho descuento es aplicable al subtotal del importe de los productos y a los gastos de envío.

Las Promociones sólo son válidas en el sitio web de lapromo y para un pedido que cumpla las condiciones de cada promoción.

Las Promociones están sujetas a disponibilidad. En concreto, Agroterra se reserva el derecho de cancelar una Promoción y rechazar el disfrute de un código promocional cuando el valor total de los códigos promocionales ya disfrutados supere un determinado importe. Consulta las bases específicas de cada promoción para ver el importe en cada caso.<br>
                  </td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
