<div class="form-group col-sm-12 col-md-4">
<%= f.label :name, "Nombre del plato:", class: " control-label"%>
      <%= f.input_field :name, placeholder:'Ejemplo: Pasta al pesto'%>
      <%= f.error :name, class:'help-block' %>
  </div>

  <div class="form-group col-sm-12 col-md-4">
  <%= f.label :description, "Descripción del plato:", class: " control-label"%>
      <%= f.text_field :description, placeholder:'Ejemplo: Pasta con albahaca'%>
      <%= f.error :description, class:'help-block' %>
  </div>

  <div class="form-group col-sm-12 col-md-4">
    <label class="control-label">Precio del plato:</label>      
      <%= f.input_field :price, placeholder:'Ejemplo: 180'%>
      <%= f.error :price, class:'help-block' %>
  </div>
