<br>
<h3 style="margin-left: 85px; text-transform: capitalize"> 
  Buscar restaurantes <strong style="color: #e09b23"> por Tipo De Promoción</strong></h3>
<div class="container" style="padding-left: 24px;">
    <% @promos.each do |k| %>
      <%= link_to k.promo_type, promo_path(promo_type: k.promo_type), 
         :class => "btn btn-default btn-flat" , :style => "color: #e09b23" %>
    <% end %>
</div>
<br>