<div class="body ">
    <div role="main" class="main">
        <section class=" section-1">
            <div class=" parallax-settings  parallax-bg-10 ">
                <div class="thumb-info-wrapper m-0 container2 height-child">
                    <div class="container">
                        <div class="row my-4 height-child">
                            <div class="col-md-12 align-self-center p-static order-2 text-center" style="margin-top: 100.1px;">
                                <h1 class="text-100 py-4 mb-3 text-color-light"><strong> Descubre & Reserva </strong></h1>
                                <h1 class="text-100 py-4 mb-3 text-color-light"><strong> En los mejores restaurantes al mejor precio </strong></h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br> <br>
        <section>
            <!-- LIBRERIA Y LINK NECESARIO PARA FUNCIONAMIENTO DEL CARRUSEL -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
            <!-- LIBRERIA Y LINK NECESARIO PARA FUNCIONAMIENTO DEL CARRUSEL -->
            <h1 class="text-center" style="color: black "> Cómo usar <strong style="color: #e09b23"> LAPROMO </strong> </h1>
            <br>
            <div class="container">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="responsive imagenb" src="https://live.staticflickr.com/65535/49186642882_4f1f51b7d3_o.jpg" , style="filter: brightness(80%);">
                            <div class="carousel-caption">
                                <h2 class="text-color-light">
                                    Paso 1</h2>
                                <h4 class="text-color-light">
                                    Busque el restaurante de su preferencia ya sea por tipo de comida, precio, cantidad de reservas o por ubicación.</h4>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="responsive imagenb" src=" https://live.staticflickr.com/65535/49186647027_1571ae52b2_o.jpg " , style="filter: brightness(80%);">
                            <div class="carousel-caption">
                                <h2 class="text-color-light">
                                    Paso 2</h2>
                                <h4 class="text-color-light">
                                    Elija el restaurante de su preferencia.</h4>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="responsive imagenb" src=" https://live.staticflickr.com/65535/49186650492_5acec89a56_o.jpg" , style="filter: brightness(80%);">
                            <div class="carousel-caption">
                                <h2 class="text-color-light">
                                    Paso 3</h2>
                                <h4 class="text-color-light">
                                    Realice una reserva en el restaurante seleccionado, escoja los platos y el número de personas que asistirán. </h4>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="responsive imagenb" src=" https://live.staticflickr.com/65535/49185963383_37603eecb6_o.jpg" , style="filter: brightness(80%);">
                            <div class="carousel-caption">
                                <h2 class="text-color-light">
                                    Paso 4</h2>
                                <h4 class="text-color-light">
                                    Seleccione la fecha y hora deseadas para la reserva</h4>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="responsive imagenb" src="https://live.staticflickr.com/65535/49185974098_71081b4baa_b.jpg" , style="filter: brightness(80%);">
                            <div class="carousel-caption">
                                <h2 class="text-color-light">
                                    Paso 5</h2>
                                <h4 class="text-color-light">
                                    Disfrute de la reserva realizada.</h4>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="responsive imagenb" src="https://live.staticflickr.com/65535/49186478001_cce9f1cc74_o.jpg" , style="filter: brightness(80%);">
                            <div class="carousel-caption">
                                <h2 class="text-color-light">
                                    Paso 6</h2>
                                <h4 class="text-color-light">
                                    Obtenga Yumis al consumir una reserva.</h4>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="responsive imagenb" src="https://live.staticflickr.com/65535/49185981863_880b85d2b4_o.jpg" , style="filter: brightness(80%);">
                            <div class="carousel-caption">
                                <h2 class="text-color-light">
                                    Paso 7 </h2>
                                <h4 class="text-color-light">
                                    Canjee sus Yumis por promociones en futuras reservas.</h4>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="responsive imagenb" src="https://live.staticflickr.com/65535/49186683247_5f8524c5c0_o.jpg" , style="filter: brightness(80%);">
                            <div class="carousel-caption">
                                <h2 class="text-color-light">
                                    Invita a tus amigos</h2>
                                <h4 class="text-color-light">
                                    Por cada persona que se registre en LAPROMO mediante tu enlace de referidos, ganarás 500 Yumis.</h4>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </section>
        <br> <br>
        <section>
            <h2 class="text-center display-5"> Los mejores restaurantes <strong style="color: #e09b23; font-size: 40px"> a un click de distancia.</strong> </h2>
            <div id="products">
                <%= render 'estados'%>
            </div>
        </section>
        <script>
        $(function() {
            $('.pagination a').attr('data-remote', 'true')
        });
        </script>
        <section>
      
            <%= render 'buscador_restaurantes' %>
            <br>
            <%= render 'buscador_restaurantes_promo' %>
        </section>
        <section>
            <%= render  "registro_restaurant" %>
        </section>
        <script>
        sessionStorage.removeItem('apostol');
        </script>
    </div>
</div>