		<div class="body">
			<div role="main" class="main">
				<section class=" section-1">
					<div class="parallax-settings parallax-bg-1">
						<div class="thumb-info-wrapper m-0 container2 height-child" >
							<div class="container height-child">
								<div class="row my-4 height-child">
									<div class="col-md-12 align-self-center p-static order-2 text-center"  style="margin-top: 130.1px;" >
										<h1 class="text-10 py-3 mb-3 text-center text-color-light"><strong>LAPROMO</strong> recompensa tu apetito y confianza</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class=" section-2">
					<div class="container">
						<div class="row">
							<div class="col-mg-4 col-lg-4 pt-4">
								<img class="responsive float-left mr-4 mb-4 mt-1" alt="yumi-1" <%= image_tag 'https://live.staticflickr.com/65535/49140350082_06a586cb6e_z.jpg'%>
							</div>
							<div class="col-lg-8 col-lg-8 pt-4" style="justify-content: all;">
								<h1 class="text-warning" style="font-weight: bold" >Programa de Yumis</h1>
								<p style="font-weight: bold" >Los Yumis son puntos de fidelización que consigues cuando reservas en LAPROMO.<br><br>
								Se convierten en descuentos que podrás utilizar en los restaurantes participantes en el programa<br><br>
								 No acumulables con promociones.<br><br>
								Los descuentos se muestran directamente en la página del restaurante y puedes elegir una fecha en la que el restaurante acepta Yumis.</p>
							</div>
						</div>
					</div>
				</section>
				<section class=" section-3">
					<div class="parallax-settings parallax-bg-3">
						<h1 class="text-center text-light" style="font-weight: bold;"> ¿Cómo puedes utilizar Yumis?</h1>
						<div class="container">
							<div class="row justify-content-md-center">
							<!-- Card Flip 1-->
								<div class="col-sm col-lg-4">
										<div class="flip-card">
											<div class="flip-card-inner">
												<div class="flip-card-front">
													<%= image_tag 'https://live.staticflickr.com/65535/49148759621_9ccdc7a45b.jpg', width:'300', height:'200', :alt => "ACUMULAR YUMIS"%>
												</div>
												<div class="flip-card-back ">
													<hr style="border:2px;">  <!--SEPARADOR  -->
													<p class="text-center text-success" style="font-size:18px justify-content: all">Recibe Yumis al realizar y consumir reservaciones o mediante invitaciones realizadas a terceros</p>
												</div>
											</div>
										</div>
								</div>
							<!-- END Card Flip -->
							<!-- Card Flip 2-->
								<div class="col-sm col-lg-4">
										<div class="flip-card">
											<div class="flip-card-inner">
												<div class="flip-card-front">
													<%= image_tag 'https://live.staticflickr.com/65535/49145457957_a2337b2a40_o.jpg', width:'300', height:'200', :alt => "CANJEAR YUMI"%>
												</div>
												<div class="flip-card-back">
													<hr style="border:2px;">  <!--SEPARADOR  -->
													<p class="text-center text-success" style="font-size:18px justify-content: all;">Canjea tus Yumis acumulados por descuentos en aquellos restaurantes que apliquen.</p>
												</div>
											</div>
										</div>
								</div>
							<!-- END Card Flip -->
							</div>
						</div>

						<hr style="border:10px;">  <!--SEPARADOR  -->

						<div class="container">
							<div class="row justify-content-md-center">
							<!-- Card Flip 3-->
								<div class="col-sm col-lg-4">
										<div class="flip-card">
											<div class="flip-card-inner">
												<div class="flip-card-front">
													<%= image_tag 'https://live.staticflickr.com/65535/49145240771_a7048e1d37_o.jpg', width:'300', height:'200', :alt => "REALIZAR LA RESERVA"%>
												</div>
												<div class="flip-card-back">
													<hr style="border:2px;">  <!--SEPARADOR  -->
													<p class="text-center text-success" style="font-size:18px justify-content: all;">Para realizar una reservación elige la fecha y el restaurante de tu preferencia para realizar una reservación.</p>
												</div>
											</div>
										</div>
								</div>
							<!-- END Card Flip -->
							<!-- Card Flip 4-->
								<div class="col-sm col-lg-4">
										<div class="flip-card">
											<div class="flip-card-inner">
												<div class="flip-card-front">
													<%= image_tag 'https://live.staticflickr.com/65535/49144785173_d22117f377_o.jpg', width:'300', height:'200', :alt => "confirmación de la reserva"%>
												</div>
												<div class="flip-card-back">
													<br>
													<p class=" text-success" style="font-size:18px justify-content: all;  ">
														<br>
													Recibirás una notificación a tu correo electrónico parar confirmar la reserva y posteriormente asistir a la misma. </p>
												</div>
											</div>
										</div>
								</div>
							<!-- END Card Flip -->
							</div>
						</div>
					</div>
				</section>

				<section class=" section-4">
					<!-- LIBRERIA Y LINK NECESARIO PARA FUNCIONAMIENTO DEL CARRUSEL -->
					<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
					<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
					<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
					<!-- LIBRERIA Y LINK NECESARIO PARA FUNCIONAMIENTO DEL CARRUSEL -->

					<h3 class="text-center text-success mt-4 mb-2"><strong>¿Quieres saber más sobre Yumis?</strong></h3>
					<div class="container">
						<div class="accordion" id="accordionExample">
							<div class="card z-depth-0 bordered">
								<button class="btn btn-link btn-primary btn-custom-size" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="text-decoration:none; background-color:#e09b23">
									<div class="card-header" id="headingOne">
										<h4 class="mb-0 btn-primary">
										¿Cómo puedo obtener Yumis?
										</h4>
									</div>
								</button>
								<div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
								data-parent="#accordionExample">
								<div class="card-body">
									Al realizar una reserva y consumirla, o invitando a otras personas a unirse a LAPROMO.<br>						
								</div>
								</div>
							</div>
							<div class="card z-depth-0 bordered">
								<button class="btn btn-link btn-primary btn-custom-size collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="text-decoration:none; background-color:#e09b23">
									<div class="card-header" id="headingTwo">
										<h4 class="mb-0 btn-primary">
										¿Cuál es la validez de mis Yumis?
										</h4>
									</div>
								</button>
								<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
								<div class="card-body">
									Los Yumis tienen validez de un año, fecha que inicia desde el primer momento que son otorgados.
								</div>
								</div>
							</div>
							<div class="card z-depth-0 bordered">
								<button class="btn btn-link btn-primary btn-custom-size collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="text-decoration:none; background-color:#e09b23">
									<div class="card-header" id="headingThree">
										<h4 class="mb-0 btn-primary">
										¿Cómo saber cuántos Yumis tengo acumulados?
										</h4>
									</div>
								</button>
								<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
								<div class="card-body">
									Luego de iniciar sesión, dirigirse a la sección de datos personales y hacer click en "Mis Yumis".
								</div>
								</div>
							</div>

						

							<div class="card z-depth-0 bordered">
								<button class="btn btn-link btn-primary btn-custom-size collapsed" type="button" data-toggle="collapse" data-target="#collapseFire" aria-expanded="false" aria-controls="collapseFire" style="text-decoration:none; background-color:#e09b23">
									<div class="card-header" id="headingFire">
										<h4 class="mb-0 btn-primary">
										¿Puedo utilizar canjear Yumis junto a una promoción regular?
										</h4>
									</div>
								</button>
								<div id="collapseFire" class="collapse" aria-labelledby="headingFire" data-parent="#accordionExample" style="text-decoration:none">
								<div class="card-body">
									Si reservas una mesa en un restaurante que participa en el programa de Yumis y que ofrece una promoción, no podrás elegir ambas opciones.
								</div>
								</div>
							</div>

							<div class="card z-depth-0 bordered">
								<button class="btn btn-link btn-primary btn-custom-size collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" style="text-decoration:none; background-color:#e09b23">
									<div class="card-header" id="headingSix">
										<h4 class="mb-0 btn-primary">
										¿Qué sucede si cancelo la reserva?
										</h4>
									</div>
								</button>
								<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
								<div class="card-body">
									Si cancelas tu reserva, no recibirás los Yumis previstos.
								</div>
								</div>
							</div>

							</div>
						</div>

				</section>


				<section>
					<%= render  "registro_restaurant" %>	
				</section>
				  
				  
				</div>
			</div>
		</div>
