<section class="content-header">
      <h1>
        Administrar promociones
      </h1>

</section>



<section class="content">
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Promociones</h3>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
    
        <table id="example2" class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>¿Acepta Yumis?</th>
            <th>Tipo de promoción</th>
            <th>Nombre de la promoción</th>
            <th>Descripcion de la promoción</th>
            <th>Fecha inicio</th>
            <th>Fecha fin</th>
          </tr>
          </thead>
          <tbody>
            <% @promos.each do |promo| %>
              <tr>
              <% if promo.restaurant_id == current_user.id  %>
                <td><% if promo.yumis %>
                  <%= 'Si' %>
                  <% else %>
                  <%= 'No' %>
                <% end %></td>
                <td><%= promo.promo_type %></td>
                <td><%= promo.name %></td>
                <td><%= promo.description %></td>
                <% @promo_calendars.each do |promo_calendar| %>
                  <% @calendars.each do |calendar|%>
                    <% if promo_calendar.promo_id == promo.id and promo_calendar.calendar_id == calendar.id %>
                      <td><%= calendar.final_date %></td>
                    <% end %>
                  <% end %> 
                <% end %>

                <td><%= link_to 'Editar', edit_restaurante_promo_path(promo), :class => 'btn btn-primary' %></td>
                <td><%= link_to 'Eliminar', restaurante_promo_path(promo), method: :delete, data: { confirm: 'Estas seguro que desea eliminar la promocion?' }, :class => 'btn btn-danger'%></td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'Nueva promocion', new_restaurante_promo_path, :class => 'btn btn-primary' %>
       
        </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
