<div class='content'>
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Buscar Reservas</h3>
        </div>
        <div class="box-body">
          <!-- Date -->
          <% if flash[:alert] %>
          <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Operacion fallida!</h4>
            <p><%= flash[:alert] %></p>
          </div>
          <% flash[:alert] = nil %>
          <%end%>
          <% if flash[:notice] %>
          <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Operacion Exitosa!</h4>
            <p><%= flash[:notice] %></p>
          </div>
          <% flash[:notice] = nil %>
          <%end%>
        <%= simple_form_for(:ejemplo, url: :restaurante_get_reservas, method: :get, html: { autocomplete: 'off' }) do |f| %>
          <div class="bootstrap-timepicker">
            <div class="col-md-4 form-group">
              <label>Buscar por hora:</label>

              <div class="input-group">
                <input type="text" name='tiempo' class="form-control timepicker" value='00:00'>

                <div class="input-group-addon">
                  <i class="fa fa-clock-o"></i>
                </div>
              </div>
              <!-- /.input group -->
            </div>
            <!-- /.form group -->
          </div>
          <div class="form-group col-md-4">
            <label>Buscar por fecha: Inicial</label>

            <div class="input-group date">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" name='fecha_i' class="form-control pull-right" id="datepicker">
            </div>
            <!-- /.input group -->
          </div>

          <div class="form-group col-md-4">
            <label>Buscar por fecha: Final</label>

            <div class="input-group date">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" name='fecha_f' class="form-control pull-right" id="datepickerr">
            </div>
            <small class="form-text text-muted">Dejalo en blanco si no quieres buscar por rango</small>
            <!-- /.input group -->
          </div>


          <%= f.button :submit, "Buscar", :class => 'btn btn-info' %>
          <!-- /.form group -->
        <% end %>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% if @reservas && !@reservas.empty?  %>
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Cancelar Reservas</h3>
        </div>
        <div class="box-body table-responsive no-padding">
                <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">Motivo:</label>

          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Motivo cancelacion">
          </div>
        </div>    
          <table class="table table-hover">
            <tr>
              <th>Fecha</th>
              <th>Personas</th>
              <th>Status</th>
              <th>Comensal</th>
              <th>Accion</th>
            </tr>
            
              <% @reservas.each do |reserva| %>
                <tr>
                  <td><%= reserva.reservation_date.strftime("%d-%m-%Y %H:%M") %></td>
                  <td><%= reserva.people_num %></td>
                  <td><%= reserva.status.capitalize %></td>
                  <td><%= reserva.diner.name.capitalize %></td>
                  <td><%= simple_form_for(:ejemplos, url: :restaurante_cancel_reserva, method: :patch, html: { autocomplete: 'off', id: 'ejemplo2' }) do |f| %>
                    <input id="mensaje" name="mensaje" class='mensaje' type="hidden" value="">
                    <input id="id" name="id" type="hidden" value="<%= reserva.id %>">
                    <%= f.button :submit, "cancerlar", :class => 'btn btn-danger', id: 'boton' %>
                  <%end%>
</td>
                </tr>
              <% end %>
          </table>
        </div>
      </div>
      <%= simple_form_for(:ejemplos, url: :restaurante_cancel_reserva, method: :patch, html: { autocomplete: 'off', id: 'ejemplo' }) do |f| %>
        <input id="mensaje" name="mensaje" type="hidden" class='mensaje' value="">
        <input id="id" name="id" type="hidden" value="true">

         <%= f.button :submit, "Cancerlar todas", :class => 'btn btn-danger', id: 'botonTodos'%>
      <%end%>
      <% end %>
    </div>
  </div>
</div>

<script>

$(function () {
  // $('.timepicker').timepicker({
  //   showMeridian: false 
  //   showInputs: false
  //   defaultDate: 0
  // })
  $('#datepicker').datepicker({
    autoclose: true
  })
    $('#datepickerr').datepicker({
    autoclose: true
  })
})


$('#ejemplo').submit(function() {
    let motivo =document.getElementById("inputEmail3").value
    $('.mensaje').val(motivo);

    return true; // return false to cancel form action
});
$('#ejemplo2').submit(function() {
    let motivo =document.getElementById("inputEmail3").value
    $('.mensaje').val(motivo);

    return true; // return false to cancel form action
});

</script>