
  <h1>Hola, de parte de <%= @diner.name %></h1>

  <p>Recibiste una invitación de tu amigo para registrarte en el sitio web de la promo.</p>

  <p><%= link_to '¡Aprovecha! click aqui y podras unirte al sitio web!', @url %></p>