<div class="container col-md-12">
<h1 class="text-center twinkling-three">Comensales concurrentes</h1>
<% if flash[:success] %>
 <p id="flash_notice" ><%= flash[:success]%></p>
 <%= javascript_tag "$('#flash_notice').hide(4000);" %>
<% elsif flash[:warning] %>
  <%= flash[:warning]%>
<% end %>
<ul class="list-group" >

     <% @diners.each do |diner| %>
              <% if diner.reservations.to_a.length > 2 && diner.user.approved == true %>
                         <li class="list-group-item" style="height:50px">
                         <%= diner.name%>
                         <%= link_to  "Bloquear", administrador_block_diners_path(diner), class:"btn btn-danger pull-right" %>
                         </li>
              <% end %>
     
     <% end %>
     
     <% if @contador == 0 %>
       <p>No hay comensales concurrentes</p>
     <% end %>
     
</ul>

</div>