<% if flash[:error] && ! flash[:error].empty? %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <div><strong>Se presentaron los siguientes errores:</strong></div>

  <div>
    <ul>
    <% flash[:error].each do |error| %>
      <li><%= error %></li>
    <% end %>
    </ul>
  </div>

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>

<div class="container-fluid mt-4">


    <%= form_tag({action: :create, controller: :reservation_comment}, multipart: true, id: 'create-reservation-coment-form') do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  
    <div class="row mb-5">
        <div class="col-12 col-sm-6 text-center text-sm-left">
            <h1>Califica tu experiencia en el restaurant "<%= @restaurant.name %>"</h1>
        </div>

        <div class="col-12 col-sm-6 mt-3 text-center text-sm-right">
            <p class="h5">Fecha de la visita: <span class="text-dark"><%= @reservation.reservation_date.to_date %></span></p>
            <p class="h5">Promo utilizada: <span class="text-dark"><%= @reservation.promo.name %></span></p>
             <p class="h5">Cantidad de Personas: <span class="text-dark"><%= @reservation.people_num %></span></p>

            <% if @reservation.hist_yumi %>
             <p class="h5">Yumis Ganados: <span class="text-dark"><%= @reservation.hist_yumi.quantity %></span></p>
            <% end %>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 col-sm-6 mb-5">
            <div class="mb-4">
                <p>
                    <label for="amount" class="h5">Valoracion Cocina:</label>
                    <input class="h5" type="text" name="kitchen_score" id="kitchen_score" readonly style="border:0; color:#f6931f; font-weight:bold;">
                </p>
                <div id="kitchen-score"></div>
            </div>

            <div class="mb-4">
                <p>
                    <label for="amount" class="h5">Valoracion Servicio:</label>
                    <input class="h5" type="text" name="service_score" id="service_score" readonly style="border:0; color:#f6931f; font-weight:bold;">
                </p>
                <div id="service-score"></div>
            </div>

            <div class="mb-4">
                <p>
                    <label for="amount" class="h5">Valoracion Ambiente:</label>
                    <input class="h5" type="text" name="ambient_score" id="ambient_score" readonly style="border:0; color:#f6931f; font-weight:bold;">
                </p>
                <div id="ambient-score"></div>
            </div>

            <div class="mt-5">
                <div class="form-group">
                  <label for="exampleFormControlInput1">Invitar a un amigo a aprovechar esta promocion</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="invite_email">
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-6 mb-5">
            <div class="form-group mb-4">
              <label for="exampleFormControlTextarea1" class="h5">Deja Aqui tus comentarios sobre el restaurant</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" name="comment" rows="8"></textarea>
            </div>

             <div class="form-group">
              <label for="exampleFormControlFile1">Adjunta las fotos de tus platos preferidos</label>
              <input type="file" name="photos[]" id="photos" multiple="multiple">
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-success btn-lg" id="submit-comment-form">Enviar Comentario</button>
    </div>
    <% end %>
</div>


<% content_for :head do %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/basic.css" />

<style>
.dz-progress {
  display: none!important;
}
</style>
<% end %>

<% content_for :js do %>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>

<script>
  $( function() {
    $( "#kitchen-score" ).slider({
      range: "min",
      min: 1,
      max: 5,
      value: 3,
      step: 0.1,
      slide: function( event, ui ) {
        $( "#kitchen_score").val( ui.value );
      }
    });
    $( "#kitchen_score" ).val( $( "#kitchen-score" ).slider( "value" ) );
  } );

  $( function() {
    $( "#service-score" ).slider({
      range: "min",
      min: 1,
      max: 5,
      value: 3,
      step: 0.1,
      slide: function( event, ui ) {
        $( "#service_score").val( ui.value );
      }
    });
    $( "#service_score").val( $( "#service-score" ).slider( "value" ) );
  } );

  $( function() {
    $( "#ambient-score" ).slider({
      range: "min",
      min: 1,
      max: 5,
      value: 3,
      step: 0.1,
      slide: function( event, ui ) {
        $( "#ambient_score" ).val( ui.value );
      }
    });
    $( "#ambient_score" ).val( $( "#ambient-score" ).slider( "value" ) );
  } );


  // $('#submit-comment-form').click(function() {
  //   $form =  $('#create-reservation-coment-form');

  //   if ($('.dz-hidden-input').length) {
  //     $form.append($('.dz-hidden-input').attr('id', 'photos').attr('name', 'photos[]'));
  //   }

  //   //  $form.submit();
  // });

</script>
<% end %>