<% if user_signed_in?%>

   
    <div class="row">
        <div class="">

            <div class="mb-3" >  
                <h3 class=" text-center" style="color: #e09b23" ><strong>   <%= @contar%> </strong>  Reservas  </h3>
            </div>

<script>

</script>
</head>
<body>



            <div class="row-fluid">   
                <% @reservas.each do |reserva| %>
                    <div class="card-restaurant mb-3" style="max-width: 38rem; padding: 1rem;">
                        <% restaurant = Restaurant.find(reserva.restaurant_id) %>
                            <%photo_restaurant=Photo.photo_restaurant(restaurant.id) %> 
                                <div class="row no-gutters">
                                    <div class="col-sm-3">
                                    <!-- VALIDACION SI EXISTE FOTO -->
                                        <% if photo_restaurant[0] %>
                                            <%= image_tag photo_restaurant[0],  class: "cardp-img" %> 
                                        <% else %>
                                            <%= image_tag "https://live.staticflickr.com/65535/49191292228_e3b7a20bbd_o.png", class: "cardp-img" %>
                                        <% end %>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card-body">
                                            <p class="mb-1"> <%= reserva.people_num %> personas | <%= reserva.reservation_date.strftime("%d-%m-%Y") %> | <%=  reserva.reservation_date.to_s(:time) %> </p>
                                                <h4 class="card-title"> <%=restaurant.name%> </h4>
                                                <p class="card-text"> <%=restaurant.address %> </p>
                                                <!-- VALIDACION SI EXISTE PROMO --> 
                                                <%if  (promo = Promo.find(reserva.promo_id)).!= nil? %>
                                                    <p style="color: red; margin-top:-10px" >
                                                    <b> <%= promo.description %></b></p>
                                                <%else%>
                                                    <br>
                                                <%end%>
                                                <!-- VALIDACION SI EXISTE PUNTOS YUMIS --> 
                                                <%if  (hist_yumi = HistYumi.find(reserva.hist_yumi_id)).!= nil? %>
                                                    <p style="color: red; margin-top:-10px" >
                                                    <b> <%= hist_yumi.quantity %> Yumis </b></p>
                                                <%else%>
                                                    <br>
                                                <%end%>                                                    
                                        </div>
                                    </div>
                                    <div class="col-sm-3 row no-gutters "  >
                                        <div class="col-sm container statu" style="align-self: flex-start">
                                            <h5 > <%=reserva.status%>
                                                <svg height="50" width="50">
                                                    <circle cx="21" cy="23" r="7" stroke-width="3" fill="#ffe600" />  
                                                </svg>
                                             </h5>
                                        </div>

                                        <div class=" col-sm container" style="align-self: flex-start;">
                                            
                                            <% fecha_r = reserva.reservation_date.to_datetime %>
                                            <% date_substrac = (fecha_r - Time.now.to_datetime).to_i %>
                                            <% if (date_substrac > 1) %>
                                            <%= link_to '<button class="btn btn-danger  btn-sm" style=" text-transform: uppercase; ">CANCELAR RESERVA</button>'.html_safe, reservations_cancelar_path(reserva.id) %>
                                            <% else %>
                                            <p id ="msg" style="font-size: .85rem; display:none;"><%= flash[:fecha] %></p>
                                           <button id="boton" class="btn btn-danger  btn-sm disabled" style="text-transform: uppercase;" tabindex="-1" aria-disabled="true" >CANCELAR RESERVA</button>

                                            <% end %>
                                        </div>
                                    </div>
                                </div>
                    </div>
                <%end%>

                <!-- SI NO EXISTE RESERVA PENDIENTE ARROJA UN MENSAJE -->
                <% flash.each do |key, value| %>
                    <% if  key == "pedro"  %>    
                        <div class="card2 mb-3 centerpp " style="max-width: 590px; background-color: #fab822;">
                            <div class="row no-gutters">
                                <div class="col-md-12 " style="text-align: center;">
                                    <div class="alert alert-<%= key %>"><%= value %></div> 
                            </div>
                        </div>    
                    <% end %>  
                <% end %>                 
                                
            </div>

            <!-- PARA LA PAGINACION EN LA VISTA DE LA CONSULTA -->
            <%= will_paginate @reservas, class: 'digg_pagination justify-content-center', style:'float:right; position: relative; left:-50%;', previous_label:"<", next_label:">"%>   

        </div>
    </div>
    

<%end%>
