<% if user_signed_in?%>
        <div class="row">
            <div class="">
                
                <div class="row-fluid"> 
                    <% @reservaciones.each do |reserva| %>
                        <% if local_assigns[:status_r] == reserva.status %>
                        <div class="card2 mb-3" style="max-width: 38rem; padding: 1rem;">
                        
                        <%photo_restaurant=Photo.photo_restaurant(reserva.restaurant_id) %>
                        <div class="row no-gutters">                    
                            <div class="col-sm-3">
                                <!-- VALIDACION SI EXISTE FOTO -->
                                <% if photo_restaurant[0] %>
                                    <%= image_tag photo_restaurant[0],  class: "cardp-img" %> 
                                <% else %>
                                    <%= image_tag "https://live.staticflickr.com/65535/49191292228_e3b7a20bbd_o.png", class: "cardp-img" %>
                                <% end %>
                            </div>
                            <div class="col-sm-6">
                                <div class="card-body">
                                    <p class="mb-1"> <%= reserva.people_num %> personas | <%= reserva.reservation_date.strftime("%d-%m-%Y") %> | <%=  reserva.reservation_date.to_s(:time) %> </p>
                                    <h4 class="card-title"> <%=reserva.rest_name%> </h4>
                                    <p class="card-text">Dirección: <%=reserva.rest_address %> </p>
                                    <!-- VALIDACION SI EXISTE PROMO --> 
                                    <%if  (promo = Promo.find(reserva.promo_id)).!= nil? %>
                                        <p style="color: red; margin-top:-10px" >
                                        <b><%= promo.description %></b></p>
                                    <%else%>
                                        <br>
                                    <%end%>
                                    <!-- VALIDACION SI EXISTE PUNTOS YUMIS --> 
                                        <p style="color: red; margin-top:-10px" >
                                        <b> <%= reserva.quantity %> Yumis </b></p>
                                                                                      
                                </div>
                            </div>
                            <div class="col-sm-3 row no-gutters "  >
                                <div class="col-sm container statu" style="align-self: flex-start">
                                    <h5 > <%=reserva.status%>
                                        <svg height="50" width="50">
                                           <circle cx="21" cy="23" r="7" stroke-width="3" fill="green" />  
                                        </svg>
                                    </h5>
                                </div>
                            </div>
                        </div>        
                        </div>
                        <% elsif local_assigns[:status_r] == "Todas"%>
                        <div class="card2 mb-3" style="max-width: 38rem; padding: 1rem;">
                        
                        <%photo_restaurant=Photo.photo_restaurant(reserva.restaurant_id) %>
                        <div class="row no-gutters">                    
                            <div class="col-sm-3">
                                <!-- VALIDACION SI EXISTE FOTO -->
                                <% if photo_restaurant[0] %>
                                    <%= image_tag photo_restaurant[0],  class: "cardp-img" %> 
                                <% else %>
                                    <%= image_tag "https://live.staticflickr.com/65535/49191292228_e3b7a20bbd_o.png", class: "cardp-img" %>
                                <% end %>
                            </div>
                            <div class="col-sm-6">
                                <div class="card-body">
                                    <p class="mb-1"> <%= reserva.people_num %> personas | <%= reserva.reservation_date.strftime("%d-%m-%Y") %> | <%=  reserva.reservation_date.to_s(:time) %> </p>
                                    <h4 class="card-title"> <%=reserva.rest_name%> </h4>
                                    <p class="card-text"> <%=reserva.rest_address %> </p>
                                    <!-- VALIDACION SI EXISTE PROMO --> 
                                    <%if  (promo = Promo.find(reserva.promo_id)).!= nil? %>
                                        <p style="color: red; margin-top:-10px" >
                                        <b> <%= promo.description %></b></p>
                                    <%else%>
                                        <br>
                                    <%end%>
                                    <!-- VALIDACION SI EXISTE PUNTOS YUMIS --> 
                                        <p style="color: red; margin-top:-10px" >
                                        <b> <%= reserva.quantity %> Yumis </b></p>
                                                                                      
                                </div>
                            </div>
                            <div class="col-sm-3 row no-gutters "  >
                                <div class="col-sm container statu" style="align-self: flex-start">
                                    <h5 > <%=reserva.status%>
                                        <svg height="50" width="50">
                                           <circle cx="21" cy="23" r="7" stroke-width="3" fill="green" />  
                                        </svg>
                                    </h5>
                                </div>
                            </div>
                        </div>        
                        </div>
                        <%end%>
                    <%end%>
                    <!-- SI NO EXISTE RESERVA ARROJA UN MENSAJE -->
                    <% flash.each do |key, value| %>
                        <% if  key == "warning"  %>    
                            <div class="card2 mb-3 centerpp " style="max-width: 590px; background-color: #fab822;">
                                <div class="row no-gutters">
                                    <div class="col-md-12 " style="text-align: center;">
                                        <div class="alert alert-<%= key %>"><%= value %></div> 
                                </div>
                            </div>    
                        <% end %>  
                    <% end %>  
                </div>
            </div>
        </div>
<%end%>