<p id="notice"><%= notice %></p>

<h1>Hist Yumis</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hist_yumis.each do |hist_yumi| %>
      <tr>
        <th>
          <%= hist_yumi.quantity%>
          <%= hist_yumi.type_hist_yumis%>
        </th>
      </tr>
      
    <% end %>
  </tbody>
</table>

<br>
