<div class="row">
    <div class="col-md-4 text-center" style="margin-top:3%;">
        <h3 style="font-style:italic;">Perfil</h3>
        <div class="card" style="width: 18rem; margin-left:20%">
            <div class="card-body">
                <h5 class="card-title text-center"><%= current_user.user_name%></h5>
            </div>
            <ul class="list-group list-group-flush">
                <button class="collapsible text-center" id = "buttonToggle" >Mis Yumis 
                <i class="fa fa-plus float-right" style="margin-top:2%" id="acord"></i></button>
                <div class="content">
                    <%= link_to 'Total yumis', comensal_yumis_path%> <br>
                    <%= link_to 'Yumis amigos invitados', comensal_yumis_amigos_path %> <br>
                    <%= link_to 'Yumis reservas efectuadas', comensal_yumis_reservas_efect_path %> <br>
                    <%= link_to 'Yumis reservas no efectuadas', comensal_yumis_reservas_noefect_path %> <br>
                    <%= link_to 'Yumis reservas canceladas', comensal_yumis_reservas_canceladas_path %>
                 </div>  
                <%= link_to 'Mis Datos', comensal_editar_path, class: "list-group-item text-center " %>
                <%= link_to 'Mis comentarios', my_comments_path, class: "list-group-item text-center " %>
            </ul>      
        </div>
    </div>
    <div class="col-sm-6">
        <h1 class="text-center" style="margin-top:3%;">Historial de Yumis</h1>
        <% if @comensal_yumis.length > 0 %>    
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Cantidad</th>
                <th scope="col">Obtenida por:</th>
                <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody class="tbody">
                <% @comensal_yumis.each do |comensal_yumis|%>
                <tr>
                <td><%= comensal_yumis.quantity%></td>
                <td><%= comensal_yumis.type_hist_yumis%></td>                
                <td><%= comensal_yumis.created_at%></td>                
                </tr>
                <%end%>
            </tbody>
        </table>
                <h3>Total de yumis: <%= @total_yumis%></h3>
        <% else %>
            <h3 class="text-center twinkling-two">Usted no tiene puntos yumis <%= @message %></h3>
        <% end %>
    </div>
</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
} 
 $("#buttonToggle").click(function(){
  $("i").toggleClass("fa-plus");
});
</script>