/* Add here all your CSS customizations */

.startStyle {
  display:none;
}

.yumiStyle {
  display: none;
}

.orange {
  color: orange;
}

.fa.fa-star {
  font-size: 1.5rem;
}
.fa.fa-star:hover {
  color: orange;
  cursor: pointer;
} 

#calificationSearch {
  /* display: none; */
  visibility: hidden;
}

.bg-color-secondary ul li, .calificationType {
  color: #fff;
}

.startStyle {
  font-size:1rem;
}

.radioSpace {
  margin-right: 1rem;
}

#searchbar {
  display: flex;
  height: 3.5rem;
  max-height: 3.5rem;
}

#searchOptions {
  width:35%;
}
#formSearch {
  width:65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #searchOptions {background: rgba(255,255,255,.1)} */

#searchOptions ul {
  display: flex;
  list-style: none;
  
  
  justify-content: flex-start;
  padding-left: 2rem;
}

#searchOptions ul li {
  padding: 1rem;
}

.tiposBusqueda {
  cursor: pointer;
}

.tiposBusqueda:hover {
  background-color: #e09b23;
}

.yellowBg {
  background-color: #e09b23;
}


.yumiStyle {
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100%!important;
  padding: 1rem;
}

.searchYummiState {
  background-color: #e09b23;
  border: none;
  padding: 0.35rem 1rem;
  color: #fff;
  font-weight:  bold;
}

.yummiHidden {
  visibility: hidden;
}

/* Sobreescribiendo estilos de bootstrap */
.custom-select {
  width: inherit;
}