<script type="text/javascript">
$(() => {
    let min_rating = <%=@menor_rating%>
    let max_rating = <%=@mayor_rating%>
    let min_price = <%=@menor_price%>
    let max_price = <%=@mayor_price%>

    $("#flat-slider")
        .slider({
            max: 5,
            min: 1,
            range: true,
            values: [<%=@menor_rating%>, <%=@mayor_rating%>],
            slide: (event, { values }) => {
                min_rating = values[0];
                max_rating = values[1];

                setTimeout(function() {
                    {
                        window.location.assign(`/restaurants/buscador?mayor_rating=${max_rating}&menor_rating=${min_rating}&mayor_price=${max_price}&menor_price=${min_price}&title=<%=@search%>&opcion=<%=@option%><%=Restaurant.urlplatos(@plates)%>&option_busq=<%=@option_busq%>`)
                    }
                }, 500)

                // $.ajax({
                //  method:"GET",
                //  url:`/restaurants/buscador?mayor=${max}&menor=${min}&opcion=&title=`,
                //  success: (data) => $("#restaurants").html("<%= j (render partial: 'lista') %>")
                // })
                $("#range1").text("Calificación de " + min_rating + "/5 a " + max_rating + "/5")
            }
        })
        .slider("pips", {
            first: "pip",
            last: "pip"
        })

        .slider("float");
    $("#range1").text("Calificación de " + min_rating + "/5 a " + max_rating + "/5")



    $("#flat-slider-2")
        .slider({
            max: 20,
            min: 1,
            range: true,
            values: [<%=@menor_price%>, <%=@mayor_price%>],
            slide: (event, { values }) => {
                min_price = values[0];
                max_price = values[1];

                setTimeout(function() {
                    {
                        window.location.assign(`/restaurants/buscador?mayor_rating=${max_rating}&menor_rating=${min_rating}&mayor_price=${max_price}&menor_price=${min_price}&title=<%=@search%>&opcion=<%=@option%><%=Restaurant.urlplatos(@plates)%>&option_busq=<%=@option_busq%>`)
                    }
                }, 500)

                // $.ajax({
                //  method:"GET",
                //  url:`/restaurants/buscador?mayor=${max}&menor=${min}&opcion=&title=`,
                //  success: (data) => $("#restaurants").html("<%= j (render partial: 'lista') %>")
                // })
                $("#range2").text("Precio promedio de " + min_price + "$ a " + max_price + "$")
            }
        })
        .slider("pips", {
            first: "pip",
            last: "pip"
        })

        .slider("float");
    $("#range2").text("Precio promedio de " + min_price + "$ a " + max_price + "$")
});
</script>
<div class="col-sm-12 col-md-3 col-lg-3">
    <p style="font-weight: bold;"><%=@success%></p>
    <div class="dropdown dropdown-search">
        
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ordenar por
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= sortable2 'Opiniones de - a +','comments_desc'%>
            <%= sortable2 'Opiniones de + a -','comments_asc'%>
            <%= sortable2 'Precio de - a +','plates_asc'%>
            <%= sortable2 'Precio de + a -','plates_desc'%>
            <%= sortable2 'Calificación de - a +','ratings_asc'%>
            <%= sortable2 'Calificación de + a -','ratings_desc'%>
            <%= sortable2 'Promociones','promo_desc'%>
        </div>
    </div>
    <br><br>
    <div class="menu-filtro">
        <div class="menu-filtro-header">
            <h1>Filtrar búsqueda</h1>
        </div>
        <div class="menu-filtro-title">
            <h2>
                <i class="fas fa-star"></i> Calificación</h2>
        </div>
        <div id="flat-slider" class="slider"></div>
        <br>
        <p id="range1"> </p>
        <br>
        <div class="menu-filtro-title">
            <h2> <i class="fas fa-search-dollar fa-lg"></i> Precio</h2>
        </div>
        <div id="flat-slider-2" class="slider"></div>
        <br>
        <p id="range2"> </p>
        <br>
        <div class="menu-filtro-title">
            <h2><i class="fas fa-utensils fa-lg"></i> Tipo de plato</h2>
        </div>
        <%i = 0%>
        <%=form_tag('/restaurants/buscador', method: :get, id:'tipo_platos') do%>
        <%= hidden_field_tag :opcion, params[:opcion] %>
        <%= hidden_field_tag :menor_rating, params[:menor_rating] %>
        <%= hidden_field_tag :mayor_rating, params[:mayor_rating] %>
        <%= hidden_field_tag :menor_price, params[:menor_price] %>
        <%= hidden_field_tag :mayor_price, params[:mayor_price] %>
        <%= hidden_field_tag :option_busq, params[:option_busq] %>
        <%= hidden_field_tag :title, params[:title] %>
        <%for i in 0..5 do%>
        <%= check_box_tag "plates_id[]", @menus[i], @selected_plates.include?(@menus[i]), id: 'plate'+i.to_s%>
        <%= label_tag @menus[i]%>
        <br>
        <%end%>
        <div>
            <div id="collapse1" class="panel-collapse collapse">
                <%for i in 6..@menus.length-1 do%>
                <%= check_box_tag "plates_id[]", @menus[i], @selected_plates.include?(@menus[i]), id: 'plate'+i.to_s %>
                <%= label_tag @menus[i]%>
                <br>
                <%end%>
            </div>
            <div style="text-align: center; margin-bottom: 3rem;">
            <a data-toggle="collapse" href="#collapse1" , style="font-size: 0.75em;  text-align: center;">Ver más opciones</a></div>
        </div>
 
        <%end%>
        <%if @option_busq != 'avanzada'%>
        <div class="menu-filtro-title" style="margin-bottom: 4rem;">
            <i class="fas fa-search fa-lg"></i><strong>
                <%= link_to ' Búsqueda Avanzada', restaurants_avanzada_path, {:style=>'color:black;', :class => "css_class"} %></strong>
        </div>
        <%end%>
        <div class="menu-filtro-title">
            <i class="fas fa-map-pin fa-lg"></i><strong>
                <%= link_to '  Buscar en el mapa', restaurants_mapa_path, {:style=>'color:black;', :class => "css_class"} %></strong>
        </div>
    </div>
</div>