    <div class="row" style="margin-left: 25%;">
        <div class="">
            <div class="row-fluid">   
                <% @restaurants.each do |restaurant| %>
                    <div class="card2 mb-3" style="max-width: 38rem; padding: 1rem;">
                        <!-- Para redirigirse a la información del restaurant-->
					    <%= link_to restaurant_info_path(restaurantID:restaurant.id) do%>
                            <%photo_restaurant=Photo.photo_restaurant(restaurant.id) %> 
                                <div class="row no-gutters">
                                    <div class="col-sm-3">
                                    <!-- VALIDACION SI EXISTE FOTO -->
                                        <% if photo_restaurant[0] %>
                                            <%= image_tag photo_restaurant[0],  class: "cardp-img" %> 
                                        <% else %>
                                            <%= image_tag "https://live.staticflickr.com/65535/49191292228_e3b7a20bbd_o.png", class: "cardp-img" %>
                                        <% end %>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card-body">
                                            <h4 class="card-title"> <%=restaurant.name%> </h4>
                                            <ul style="color: #312c55;">
                                            <li>Dirección: <%=restaurant.address %> </li>
                                           <!-- Aqui se obtiene la informacion del promedio a traves de los scope Plate y Comment y con.round se redondea el valor a 2 decimales  -->
							                <% if Plate.avg_price_rest(restaurant.id).is_a? Numeric%>
                                                <li>Precio plato promedio:  <%= Plate.avg_price_rest(restaurant.id).round(2)%> $ </li> 
							                <% else %>
                                                <li>Precio plato promedio:"No hay promedio disponible"</li>
							                <% end %>
							                <% if Comment.avg_kitchen_score_rest(restaurant.id).is_a? Numeric%>
                                                <li>Puntuación promedio(cocina): <%= Comment.avg_kitchen_score_rest(restaurant.id).round(2)%>/5</li>
							                <% else %>
                                                <li>Puntuación promedio(cocina): "No hay puntuacion disponible"</li>
							                <% end %>
							                <% if Comment.avg_ambient_score_rest(restaurant.id).is_a? Numeric%>
                                                <li>Puntuación promedio(ambiente): <%=Comment.avg_ambient_score_rest(restaurant.id).round(2)%>/5</li>
							                <% else %>
                                                <li>Puntuación promedio(ambiente): "No disponible"</li>
							                <% end %>
							                <% if Comment.avg_service_score_rest(restaurant.id).is_a? Numeric %>
								                <li>Puntuación promedio(servicio): <%= Comment.avg_service_score_rest(restaurant.id).round(2)%>/5</li>
							                <% else %>
								                <li>Puntuación promedio(servicio): "No promedio de servicio disponible"</li>
							                <% end %>
							                <% if Comment.number_comments_rest(restaurant.id)%>
								                <li>Opiniones del restaurante: <%= Comment.number_comments_rest(restaurant.id)%></li>
							                <% else %>
								                <li>Opiniones del restaurante: "No disponible"%></li>
							                <% end %>	
							                <!-- Aqui se obtiene el dato de cocina por medio del scope KitchenType  -->
							                <% if KitchenType.kitchen_type_rest(restaurant.id)%>
								                <li>Tipo de cocina: <%= KitchenType.kitchen_type_rest(restaurant.id)[0].name%></li>
							                <% else %>
								                <li>Tipo de cocina: "No disponible"%></li>
							                <% end %>
                                            </ul>                                                                                     
                                        </div>
                                    </div>
                                        <!-- verifica si existe la variable local de tipo promocion-->                                                <!-- VALIDACION SI EXISTE PROMO --> 
                                        <%if local_assigns[:contiene]%>
                                            <div class="col-sm-3 row no-gutters "  >
                                                <div class="col-sm container statu" style="align-self: flex-start">
                                                     <h5 style=" margin-top:-10px; margin-right: 10px;" >
                                                        <b> Tipo de Promocion: </b>
                                                    </h5>
                                                    <h5 style="color: #ffab0a; margin-top:-10px; margin-right: 10px;" >
                                                        <b> <%=restaurant.promo_type%> </b>
                                                        <br> detalle: <%=restaurant.detalle%></b>
                                                    </h5>
                                                </div>
                                            </div>
                                        <%else%>
                                            <br>
                                        <%end%>   
                                </div> 
                        <%end%>
                    </div>
                <%end%>
                <!-- SI NO EXISTE RESTAURANTE ARROJA UN MENSAJE -->
                <% flash.each do |key, value| %>
                    <% if  key == "warning"  %>    
                        <div class="card2 mb-3 centerpp " style="max-width: 590px; background-color: #fab822;">
                            <div class="row no-gutters">
                                <div class="col-md-12 " style="text-align: center;">
                                    <div class="alert alert-<%= key %>"><%= value %></div> 
                            </div>
                        </div>    
                    <% end %>  
                <% end %>             
            </div>
        </div>
    </div>

    