<h2 style="margin-left: 85px;text-transform: capitalize"> Restaurantes <strong style="color: #e09b23">por </strong> estado</h2>

<div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-2">
</div>

	<div class="col">
<%=render 'lista'%>
</div>
</div>
</div>
