<h2 style="margin-left: 85px;text-transform: capitalize"> Restaurantes <strong style="color: #e09b23">por tipo </strong> Promoción</h2>
<%= render 'form_rest', contiene: "Promo" %>
<section>
<%= render 'home/registro_restaurant'%>
</section>