<div class="container">
    <h2 class="display-4" style="text-align: center;">Encuentra los mejores restaurantes</h2>
    <%if @option_busq == 'avanzada'%>
    <%=render 'avanzada'%>
    <%else%>
    <%=render 'buscador'%>
    <%end%>
    <br>
    <div class="container">
        <div class="row">
            <%=render 'filtro'%>
            <div class="col">
                <div id="restaurants">
                    <%=render 'lista'%>
                </div>
            </div>
        </div>
    </div>
    <%= will_paginate @restaurants, class: "digg_pagination pagination justify-content-center", previous_label: "<", next_label: ">"%>
</div>