<!-- <table class="table table-dark">
   <tbody>
        <tr>
         <td><span class="custom-letra"><%= restaurant.name%></span>
          <span class="float-right">
            <%= link_to 'Ver', [:administrador, restaurant], class: "btn btn-primary" %>
            <% if request.original_fullpath == '/administrador/restaurants' %>
            <%= link_to  "Aprobar", administrador_approve_path(restaurant), class: "btn btn-primary" %>
            <%= link_to  "Rechazar", administrador_approve_path(restaurant), class: "btn btn-primary" %>
            <% else %>
            <%= link_to  "Cancelar acceso", administrador_cancel_path(restaurant), class: "btn btn-primary" %>
            <% end %>
          </span>
        </td> 
        
        </tr>
    </tbody>
  </table> -->
    <div class="row div-dark">
        <div class="col-md-12">
            <span class="custom-letra"><%= restaurant.name%></span>
            
            <div class="float-right">
              <%= link_to '<i class="fa fa-eye"></i>'.html_safe, [:administrador, restaurant], class: "btn btn-primary", title: "Ver" %>
              <% if request.original_fullpath == '/administrador/not_approved' %>
              <%= link_to  "Aprobar", administrador_approve_path(restaurant), class: "btn btn-success", method: :put %>
              <%= link_to  "Rechazar", administrador_reject_restaurant_path(restaurant), method: :delete, class: "btn btn-danger" %>
              <% elsif request.original_fullpath == '/administrador/aprobados' %>
              <%= link_to  "Cancelar acceso", administrador_cancel_path(restaurant), class: "btn btn-danger" %>
              <% end %>
            </div>
              <% if (User.find(restaurant.user_id).approved == true &&
                    request.original_fullpath == '/administrador/restaurants')%>
              <span class="custom-letra left twinkling">Aprobado</span> 
               <% elsif (User.find(restaurant.user_id).approved == false &&
             request.original_fullpath == '/administrador/restaurants') %>
              <span class="custom-letra left twinkling-two">Pendiente</span>       
              <% end %>
       
        </div>
      </div>
 