<!DOCTYPE html>
<html>
  <head>
    <title>LAPROMO - ¡Descubre los mejores restaurantes!</title>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyDqtlb8ZeL9bo8JhBr8Oxk7IN2xT-xAlaU"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
    <!-- <meta name="turbolinks-visit-control" content="reload"> -->
  </head>
  <%= render  "shared/header" %>
  <body class="vista">
    <% if notice || alert %>
      
    <div id="devise" class="text-center">
      <b><p class="notice"><%= notice %></p></b>
      <b><p class="alert"><%= alert %></p></b>
    </div>      
    <% end%>
<div style="min-height: 80vh">
  <%= yield %>
</div>
    

    <%= yield :js %>
    <%# <script src='https://pedrofumero.com/assets/jquery.inputmask.js'></script>
<script src='https://pedrofumero.com/assets/jquery.inputmask.extensions.js'></script>
<script src='https://pedrofumero.com/assets/restaurant_form.js'></script> %>
  </body>
    <%= render  "shared/footer" %>
       
</html>
