<section id="register_rest">
    <%= simple_form_for([resource], as: resource_name, url: '/users/restaurant/sign_up',
     html: {class: ''}) do |f| %>
     <div class="container equipo1-custom col-md-4">

         <h2 style="text-align: center;color:white">Registro de Restaurante</h2>
     </div>
    <div class="row">
        <div class="container col-md-4 mr-0 equipo1-other">
          <%= f.input :email,
                      :input_html => { :value => resource[:email] },
                      placeholder: "Ingrese su correo electrónico",
                      label: "Correo electrónico",
                      required: true,
                      autofocus: true %>
          <%= f.input :user_name,
                      placeholder: "Ingrese su nombre de usuario",
                      label: "Nombre de usuario",
                      required: true,
                      :input_html => { :onkeyup=>"this.value = this.value.toLowerCase();"} %>
          <%= f.input :password,
                      :input_html => { :value => resource.password },
                      placeholder: "Ingrese su contraseña",
                      label: "Contraseña",
                      required: true,
                      hint: "Debe colocar 6 carácteres mínimo"%>
          <%= f.input :password_confirmation,
                      :input_html => { :value => resource.password_confirmation },
                      required: true,
                      placeholder: "Confirme su contraseña",
                      label: "Confirmar contraseña", 
                      required: true%>
         <%= f.fields_for :restaurant do |todo_field| %>
        <%= todo_field.input :name, 
            required: true,
            label: 'Nombre del restaurante',
            placeholder: 'Ingrese nombre de restaurante' %>
           <%= todo_field.input :rif, 
            required: true,
            label: 'RIF del restaurante: (Use formato J-XXXXXXXX-X, donde X es un número)',
            placeholder: 'Ingrese el RIF del restaurante: J-XXXXXXXXXX-X' %>
    
        </div>
    
        <div class="container col-md-4 ml-0 equipo1-other" style="position: relative !important; ">
        
        <%= todo_field.label :place_id, "Seleccione la parroquia donde se ubica el restaurante" %>
    
        <%= todo_field.collection_select :place_id,
            Place.where(type_place: 'parroquia').order('name').all, :id, :name,
            required: true %>
    
        <%= todo_field.input :address, 
            required: true,
            label: 'Dirección exacta del restaurante',
            placeholder: 'Ingrese dirección del restaurante' %>
        <%= todo_field.input :zip_code, 
            required: true,
            label: 'Zona Postal',
            placeholder: 'Ingrese zona postal del restaurante' %>
        <%= todo_field.input :capacity, 
            required: true,
            label: 'Capacidad del restaurante',
            placeholder: 'Ingrese la capacidad del restaurante' %>
        <%= todo_field.input :description, 
            required: true,
            label: 'Descripción del restaurante',
            placeholder: 'Ingrese una breve descripción del restaurante' %>
        <%= todo_field.label :star_time, "Horario de apertura del restaurante" %>
        <%= todo_field.time_select :start_time, 
            required: true %>
        <%= todo_field.label :end_time, "Horario de cierre del restaurante" %>
        <%= todo_field.time_select :end_time, 
            required: true %>
		<%= todo_field.error :end_time, style: "color: red;" %>
        <%= todo_field.label :particular, "Restaurante emprendedor? Seleccione si la respuesta es SI" %>
        <%= todo_field.check_box :particular %>  <br>
          <div class="text-center mb-1">
          <%= f.button :submit, "Registrar restaurante",  class: "btn btn-primary equipo1-size"%> <br> 
            <button type="button" class="google-button"  onclick="window.location.href='/users/auth/google_oauth2?user=restaurant'">
                <span class="google-button__icon">
                  <svg viewBox="0 0 366 372" xmlns="http://www.w3.org/2000/svg"><path d="M125.9 10.2c40.2-13.9 85.3-13.6 125.3 1.1 22.2 8.2 42.5 21 59.9 37.1-5.8 6.3-12.1 12.2-18.1 18.3l-34.2 34.2c-11.3-10.8-25.1-19-40.1-23.6-17.6-5.3-36.6-6.1-54.6-2.2-21 4.5-40.5 15.5-55.6 30.9-12.2 12.3-21.4 27.5-27 43.9-20.3-15.8-40.6-31.5-61-47.3 21.5-43 60.1-76.9 105.4-92.4z" id="Shape" fill="#EA4335"/><path d="M20.6 102.4c20.3 15.8 40.6 31.5 61 47.3-8 23.3-8 49.2 0 72.4-20.3 15.8-40.6 31.6-60.9 47.3C1.9 232.7-3.8 189.6 4.4 149.2c3.3-16.2 8.7-32 16.2-46.8z" id="Shape" fill="#FBBC05"/><path d="M361.7 151.1c5.8 32.7 4.5 66.8-4.7 98.8-8.5 29.3-24.6 56.5-47.1 77.2l-59.1-45.9c19.5-13.1 33.3-34.3 37.2-57.5H186.6c.1-24.2.1-48.4.1-72.6h175z" id="Shape" fill="#4285F4"/><path d="M81.4 222.2c7.8 22.9 22.8 43.2 42.6 57.1 12.4 8.7 26.6 14.9 41.4 17.9 14.6 3 29.7 2.6 44.4.1 14.6-2.6 28.7-7.9 41-16.2l59.1 45.9c-21.3 19.7-48 33.1-76.2 39.6-31.2 7.1-64.2 7.3-95.2-1-24.6-6.5-47.7-18.2-67.6-34.1-20.9-16.6-38.3-38-50.4-62 20.3-15.7 40.6-31.5 60.9-47.3z" fill="#34A853"/></svg>
                </span>
                <span class="google-button__text" >Registrar con Google</span>
            </button> <br>
                      <%= render "users/shared/links" %>
          </div>
        <% end %>
        </div>
    
    
    </div>
    
      <% end %>
      

</section>    
